PORT="1000" # Port number in which the server will run and the client will connect to
SERVERIP="127.0.0.1" # Server IP address which the server will listen to requests from and the client will connect to